@import '../../styles/Common.scss';

.cart_page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cart_page_title_text {
    text-align: center;
    padding-top: $p3;
    padding-bottom: $p3;
}


.hide {
    display: none;
}

.title {
    font-size: $h3;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.total {
    color: $red;
    margin-left: $m3;
    font-size: $h3;
}

.cart_item {
    display: grid;
    grid-template-columns: min-content 150px 1fr;
    gap: $m3;
    margin: $m4;
    margin-bottom: $p4;
    padding-bottom: $p4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.select_all {
    @extend .cart_item;
    grid-template-columns: min-content 1fr;
}

.select_all_text_and_trash_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_all_text {
    font-weight: 500;
}

.cart_item_select {
    display: flex;
    align-items: center;
}

.cart_item_avatar {
    width: 150px;
    height: 150px;
}

.remove_item_button {
    @extend .icon-button;
    padding: 0px;
}

.primary_delete_button {
    background: $primary-color;
    color: $on-primary-color;
    box-shadow: none;
    border-radius: 1000px;
}

.secondary_delete_button {
    border: 1px solid $primary-color;
    box-shadow: none;
    border-radius: 1000px;
    color: $primary-color;
}

.empty_cart_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.product_name {
    font-size: $h6;
    color: $red;
}

.label {
    font-size: $body-text-1;
    display: block;
    margin: $m3 0px;
    font-weight: bold;
}

.quantity_form input {
    font-size: $body-text-1;
}

.request_price_button {
    @extend .primary-button;
    margin-left: auto;
    font-size: $body-text-1;
}

.unit_display h6 {
    font-weight: bold;
    font-size: $h6;
    margin: $m3 0px;
}

.unit_display p {
    font-size: $body-text-1;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 0px 8px 3px $shadow-color;
    padding: $p3;
    display: flex;
    justify-content: space-between;
    background-color: white;
}


.fake_footer {
    @extend .footer;
    position: relative;
    box-shadow: none;
}

.fake_footer::after {
    content: "";
    margin-top: $m6;
}