@import '../../styles/Common.scss';

.categories_title {
    font-weight: bold;
    color: $primary-color;
    margin-bottom: $m6;
    margin-left: $m3;
}


.categories {
    background-color: white;
    height: 100%;
    display: grid;
    overflow-x: hidden;
}

.category_title_icon, .category_title {
    font-size: $body-text-1 !important;
    color: $primary-color;
    white-space: nowrap;
    font-weight: bold !important;
}

.category {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    margin: $m3 0px;

    span {
        font-size: $body-text-1;
    }
}

.category_checkbox {
    margin-right: $m3;
}

.selected_category {
    @extend .category;
    color: $primary-color;
    font-weight: bold;
}

.category:hover {
    cursor: pointer;
}

.categories_list_container {
    position: relative;
}

.button {
    position: absolute;
    border-radius: 50%;
    padding: $p4;
    box-shadow: none;
    opacity: 0.7;
}

.button:hover, .button:active {
    opacity: 1;
}

.left_button {
    @extend .button;
    top: 50%;
    left: -15px;
}

.right_button {
    @extend .button;
    top: 50%;
    right: -15px;
}