@import '../../styles/Common.scss';

.title {
    padding-bottom: $p4;
    padding-top: $p3;
    color: $primary-color;
}

.product_summary_card {
    border: 1px solid $border-color;
    cursor: pointer;
    margin-bottom: $m3;
    background-color: white;

    img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .content {
        padding: $p3;
    }

    .price {
        white-space: nowrap;
    }
}
