.single_row {
    display: flex;
    overflow-x: scroll;
}

@media (min-width: 800px) {
    .single_row {
        overflow-x: hidden;
    }
}

.card_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.link {
    width: 80%;
}