@import '../../styles/Common.scss';

.main {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: $p3 $p6;
    margin-top: $m3;
    > * {
        margin-top: $m2;
        margin-bottom: $m2;
    }
}

.defaultPrice {
    font-weight: 600;
}

.priceTableTitle {
    color: $primary-color;
    font-weight: bold;
}

.price {
    white-space: nowrap;
}

.mesage {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: $p5;
    transform: translate(-50%, -50%);
}

.wholesalePrice {
    margin-top: $m5;
}

.wholesalePriceTitleRow {
    display: flex;
    align-items: center;
    margin-top: $m3;
    margin-bottom: $m3;
}

.help_icon {
    margin-left: $m4;
    font-size: $body-text-2;
    color: $primary-color;
    cursor: pointer;
}

.wholesalePriceTitle {
    @extend .priceTableTitle;
}

.tooltip {
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: $p4;
    color: white;
    font-size: $body-text-2;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.wholesalePriceValue {
    margin-top: $m4;
}

.select_unit {
    width: 100%;
}

.select_unit > * {
    width: 100%;
}

.quantity_input {
    display: flex;
}

.quantity_input input {
    @extend .input;
    flex-grow: 1;
    text-align: center;
    border-color: transparent;
}

.quantity_input input:focus {
    border-color: transparent;
}

.change_quantity_button {
    border-radius: 10px;
    box-shadow: none;
    background-color: transparent;
}

.product_description_section {
    margin: $m6;
    margin-bottom: $m3;
}

.product_description_section .description_title {
    font-weight: bold;
    margin-bottom: $m3;
}

.search_related_products_section {
    margin: $m6;
    margin-bottom: $m3;
}

.search_bar {
    width: 100%;
}

.images {
    width: 350px;
    max-width: 100%;
    margin-right: $m4;
    margin-bottom: $m4;
}

.side_images {
    display: flex;
    overflow-x: auto;
}

.side_image_container {
    margin-left: $m3;
    margin-right: $m3;
    position: relative;
}

.side_image_container:first-child {
    margin-left: 0px;
}

.side_image_container:last-child {
    margin-right: 0px;
}

.side_image {
    width: 50px;
    height: 50px;
}

.side_image_container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10000;
    top: 0px;
    left: 0px;;
    background-color: rgba(0, 0, 0, 0.6);
}

.selected_side_image_container {
    @extend .side_image_container;
}

.selected_side_image_container::before {
    @extend .side_image_container;
    background-color: transparent;
}

.product_name {
    color: $primary-color;
}