@import '../widgets/components/Common.scss';
@import '../styles/Common.scss';

.header,
.main_area {
	margin-left: $m3;
	margin-right: $m3;
}

.page_numbering {
    display: flex;
    justify-content: center;
    margin-bottom: $m3;
    & > * {
    	max-width: 300px;
    }
    & .index {
	    padding-left: $m3;
	    padding-right: $m3;
	}
}

.banner {
    display: flex;
    justify-content: center;
}

.images {
    grid-column: 4;
    display: flex;
    justify-content: center;
    height: 100%;
}

@media (max-width: 800px) {
    .banner {
        display: block;
        background-color: transparent;
    }
}

$slide_show_height: 250px;
.slide_show {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    height: $slide_show_height;
    cursor: grab;
    scrollbar-width: none;
    max-width: 500px;
    margin-right: $m1;
}

.slide-show::-webkit-scrollbar {
    width: 0px;
}

.slide_show > * {
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.side_images {
    display: flex;
    flex-direction: column;
    max-height: $slide_show_height;
}

@media (max-width: 700px) {
    .side_images {
        display: none;
    }
}

.top_side_image {
    grid-column: 3;
    grid-row: 1;
    max-height: 100%;
    height: 50%;
    width: 250px;
    margin-bottom: $m1;
}

.bottom_side_image {
    grid-column: 3;
    grid-row: 2;
    max-height: 100%;
    height: 50%;
    width: 250px;
}

.search_bar {
    margin-bottom: $m6;
}

.carousell_container {
    height: $slide_show_height;
    margin-right: $m1;
}

.categories_container {
    margin: $m6;
}

.main_page {
    background-color: $background-color;
}

.main_content {
    display: grid;
    grid-template-columns: minmax(min-content, 20rem) 1fr;
}

@media screen and (max-width: 50rem) {
    .main_content {
        display: block;
    }
}

