$h1: 4.8rem;
$h2: 4rem;
$h3: 3.2rem;
$h4: 2.4rem;
$h5: 2.2rem;
$h6: 2rem;
$body-text-1: 1.6rem;
$body-text-2: 1.4rem;

$p0: 0em;
$p1: 0.25em;
$p2: 0.5em;
$p3: 1em;
$p4: 1.5em;
$p5: 2em;
$p6: 3em;

$m0: 0rem;
$m1: 0.25rem;
$m2: 0.5rem;
$m3: 1rem;
$m4: 1.5rem;
$m5: 2rem;
$m6: 3rem;

$border-color: rgba(0, 0, 0, 0.3);
$danger-color: rgba(#FF0000, 0.5);

$shadow-color: rgba(0, 0, 0, 0.4);

$primary-color: #004800;
$primary-color-2: #30a12f;
$secondary-color: #96004B;
$on-primary-color: white;
$background-color: var(--background-color);

$red: red;
$grey-color: #e6e6e6;
$grey-color-2: #7a7a7a;

.row {
    display: flex;
}

.icon-button {
    padding: $m3;
    border-radius: 50%;
    box-shadow: none;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

.primary-button {
    background-color: $primary-color;
    color: white;
}

.input:focus {
    border: 2px $primary-color-2 solid;
}

